<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
</head>
<body>
  <script>0</script>
  <h1>Hello <%= user.firstname + " " + user.lastname %>! </h1>
  <a href ="/log-out">Want to log out? Click here!</a>
  <% if (!member){ %>
  <form class = "clubForm"action ="/join" method = "POST">
    <label for = "secret">Secret passcode!</label>
    <input id = "secret" name = "secret" placeholder="secret password!" type ="text"/>
    <input type = "hidden" id = "id" name = "id" value = <%= user.id %> />
    <button type = "submit">Join the club!</button>
  </form>
  <%} %> 
  <div class = "messages">
    <% messages.map((message)=>{ %>
      <form class = "message" action ="/delete" method ="POST">
        <% if (member){ %>
          <label for = "firstname"><%= message.firstname %></label>
        <% }%>
        <label for = "title"><%= message.title %></label>
        <label for = "message"><%= message.message %></label>
        <input type = "hidden" id = "userMessageId" name = "id" value = <%= message.id %> />
        <% if (member){%>
          <label for = "dateposted"><%= message.dateposted %></label> 
        <% } %>
        <% if(user.admin) {%>
          <button id ="deleteButton" type ="submit">Delete this message!</button>
        <% } %>
      </form>
    <%}) %> 
  </div>

  <div class ="userMessage">
    <form class= "userForm" action ="/postMessage" method ="POST">
      <input type = "hidden" id = "id" name = "id" value = <%= user.id %> />
      <label for = "messageTitle">Message title </label>
      <input id = "messageTitle" name = "messageTitle" type ="text">
      <label for = "userMessage"></label>
      <textarea name = "userMessage" id = "userText" value ="Add a message!"> </textarea>
      <button type ="submit">Submit!</button>
    </form>
  </div>
</body>
</html>